*:focus {
  outline: none;
}

.lc-pro-layout {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.flex {
  display: flex;

  &.flex-column {
    flex-direction: column;
  }

  .flex-item {
    flex: 1;
  }

  .flex-none {
    flex: none;
  }
}



body {
  --el-menu-bg-color: var(--el-color-primary);
  --el-menu-text-color: #EEEEEE;
  --el-menu-hover-text-color: var(--el-menu-text-color);
  --el-menu-active-color: #FFFFFF;
  --el-menu-hover-bg-color: rgb(0 0 0 / 6%);
  --el-menu-active-bg-color: #1677FF;
  --el-menu-item-height: 40px;
  --el-menu-sub-item-height: var(--el-menu-item-height);
  --el-menu-base-level-padding: 12px;
}

.el-popper.menu-popper {
  border: 0;
}

.el-menu--popup-container .el-menu--popup {
  padding: 4px 6px;
}

.el-menu {
  border: 0 !important;
}

.el-menu.el-menu--horizontal {
  align-items: center;

  .el-menu-item {
    margin: 0 2px;

    &.is-active {
      background-color: var(--el-menu-active-bg-color) !important;
    }
  }
  
  .el-sub-menu {
    margin: 0 2px;
  }

  &>.el-sub-menu .el-sub-menu__title {
    height: var(--el-menu-item-height);

    &:hover {
      background-color: var(--el-menu-hover-bg-color) !important;
    }
  }
}

.el-menu, .el-menu--popup {
  .el-sub-menu__title {
    border-radius: 4px;
  }

  .el-sub-menu.is-active:not(.is-opened) {
    background-color: var(--el-menu-active-bg-color);
    border-radius: 4px;

    .el-sub-menu__title {
      color: #FFFFFF;
    }
  }

  .el-menu-item {
    margin: 4px 0;
    border-radius: 4px;
      
    &.is-active {
      background-color: var(--el-menu-active-bg-color);
    }
  }
}